# TON network: "testnet" or "mainnet"
TON_NETWORK=testnet

# Your wallet address (where you receive payments)
PAYMENT_ADDRESS=0QBbtZtF0cYG5xj7JvpbUhHIkMqx3PhE4FVqAXJx9k-Ljy8_

# Jetton master contract address (BSA USD on testnet)
JETTON_MASTER_ADDRESS=kQCd6G7c_HUBkgwtmGzpdqvHIQoNkYOEE0kSWoc5v57hPPnW

# Facilitator URL (You can use the BSA Facilitator if you don't want to run your own)
# FACILITATOR_URL=http://localhost:3000/api/facilitator
FACILITATOR_URL=https://ton-x402-nextjs-server-lqa1jowhn-hliosones-projects.vercel.app/api/facilitator

# TON RPC (get a free API key at https://toncenter.com)
TON_RPC_URL=https://testnet.toncenter.com/api/v2/jsonRPC
RPC_API_KEY=e251fe96771c8fe3e7c93798924a1b12c600aecfcc25d4b9fa9178ca15a9050d

# Client wallet mnemonic (24 words), used by the client-script to pay endpoints
# Get a testnet wallet on Tonkeeper (switch to testnet mode)
WALLET_MNEMONIC="slice cream phrase smooth news allow marriage innocent leopard crew transfer elite reason there confirm wet knee aim ridge bleak agree huge universe oven"